Repository binalogue/laravel-boilerplate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:codestyle, test:phpcpd, security:sensiolabs

.gitlab-ci.yml:

# Templates

.only-mr-backend:
  only:
    refs:
      - merge_requests
    changes:
      - app/**/*
      - bootstrap/**/*
      - config/**/*
      - database/**/*
      - routes/**/*
      - tests/**/*

# GitLab CI

stages:
  - install
  - build
  - test
  - security
  - staging
  - production

# install:composer:
#   extends:
#     - .only-mr-backend
#   stage: install
#   image: edbizarro/gitlab-ci-pipeline-php:7.3
#   script:
#     - php -v
#     - composer install --prefer-dist --no-scripts --no-progress --optimize-autoloader --ignore-platform-reqs --no-ansi --no-interaction
#     - cp .env.forge .env
#     - php artisan key:generate
#   artifacts:
#     name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
#     paths:
#       - vendor/
#       - .env
#     when: always
#     expire_in: 1 days
#   cache:
#     key: '$CI_JOB_NAME-$CI_COMMIT_REF_SLUG'
#     paths:
#       - vendor/

# install:yarn:
#   extends:
#     - .only-mr-backend
#   stage: install
#   image: edbizarro/gitlab-ci-pipeline-php:7.3
#   script:
#     - yarn --version
#     - yarn install --pure-lockfile
#   artifacts:
#     name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
#     paths:
#       - node_modules/
#     when: always
#     expire_in: 1 days
#   cache:
#     key: '$CI_JOB_NAME-$CI_COMMIT_REF_SLUG'
#     paths:
#       - node_modules/

# build:assets:
#   extends:
#     - .only-mr-backend
#   stage: build
#   image: edbizarro/gitlab-ci-pipeline-php:7.3
#   script:
#     - yarn --version
#     - yarn favicon:check
#     - yarn prod --progress false
#   dependencies:
#     - install:composer
#     - install:yarn
#   artifacts:
#     name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
#     paths:
#       - public/css/
#       - public/fonts/
#       - public/images/
#       - public/js/
#       - public/video/
#       - public/mix-manifest.json
#     when: always
#     expire_in: 1 days

test:codestyle:
  stage: test
  image: lorisleiva/laravel-docker
  script:
    - phpcs --standard=PSR2 --extensions=php app
  dependencies: []
  only:
    refs:
      - merge_requests
    changes:
      - app/**/*

test:phpcpd:
  stage: test
  image: edbizarro/gitlab-ci-pipeline-php:7.3
  script:
    - test -f phpcpd.phar || curl -L https://phar.phpunit.de/phpcpd.phar -o phpcpd.phar
    - php phpcpd.phar app/ --min-lines=50
  dependencies: []
  cache:
    key: '$CI_JOB_NAME-$CI_COMMIT_REF_SLUG'
    paths:
      - phpcpd.phar
  only:
    refs:
      - merge_requests
    changes:
      - app/**/*

# test:phpunit:
#   extends:
#     - .only-mr-backend
#   stage: test
#   image: edbizarro/gitlab-ci-pipeline-php:7.3
#   dependencies:
#     - install:composer
#     - build:assets
#   script:
#     - php -v
#     - sudo cp /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini /usr/local/etc/php/conf.d/docker-php-ext-xdebug.bak
#     - echo "" | sudo tee /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
#     - ./vendor/phpunit/phpunit/phpunit --version
#     - php -d short_open_tag=off ./vendor/phpunit/phpunit/phpunit -v --colors=never --stderr
#     - sudo cp /usr/local/etc/php/conf.d/docker-php-ext-xdebug.bak /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
#   artifacts:
#     name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
#     paths:
#       - storage/logs # for debugging
#     when: on_failure
#     expire_in: 1 days

security:sensiolabs:
  stage: security
  image: edbizarro/gitlab-ci-pipeline-php:7.3
  script:
    - test -d security-checker || git clone https://github.com/sensiolabs/security-checker.git
    - cd security-checker
    - composer install
    - php security-checker security:check ../composer.lock
  dependencies: []
  cache:
    key: '$CI_JOB_NAME-$CI_COMMIT_REF_SLUG'
    paths:
      - security-checker/
  only:
    refs:
      - merge_requests
    changes:
      - composer.json
      - composer.lock

🔧 Review CLI scripts
  .cli/build.sh
  .cli/down.sh
  .cli/up.sh
Due: none

🐳 Install Composer dependencies on Docker build
  .docker/app.apache.dockerfile
  .docker/app.nginx.dockerfile
Due: none

🐳🚑 Fix Composer install
  .cli/build.sh
  .docker/app.apache.dockerfile
  .docker/app.nginx.dockerfile
Due: none

🔧 Update VSCode settings
  .vscode/settings.json
Due: none

🚨
  webpack.mix.js
Due: none

🔧 Create symbolic link from "public/storage" to "storage/app/public"
  .cli/up.sh
Due: none

🐳 Update Docker ignore
  .dockerignore
Due: none

🔧 Update linters
  .eslintrc.js
  .nvmrc
  .stylelintrc.json
  .stylelintrc.order.json
  package.json
  resources/images/svgs/.gitkeep
  resources/js/pages/App.vue
  webpack.mix.js
  yarn.lock
Due: none

🐳 Update Docker config
  .cli/up.sh
  docker-compose.yml
Due: none

🐳 Update Docker to PHP 7.4
  .docker/app.apache.dockerfile
  .docker/app.nginx.dockerfile
  .docker/confd/templates/nginx-vhost.tmpl
  .docker/php/php.ini
Due: none

⬆️ Upgrade to PHP 7.4
  composer.json
Due: security:sensiolabs

🐳 Update Docker config
  docker-compose.apache.yml
Due: none

⬆️ Update Composer dependencies
  composer.json
  composer.lock
Due: security:sensiolabs

✅ Update PHPUnit settings
  phpunit.xml
Due: none

🔧 Setup Laravel Telescope
  app/Console/Kernel.php
  app/Providers/AppServiceProvider.php
  app/Providers/TelescopeServiceProvider.php
  config/app.php
Due: test:codestyle, test:phpcpd

🔧 Setup Laravel Horizon
  .cli/up.sh
  .docker/supervisor/conf.d/queue.conf
  .gitignore
  app/Console/Kernel.php
  app/Providers/HorizonServiceProvider.php
  composer.json
  composer.lock
  config/app.php
  config/horizon.php
  database/migrations/2018_08_08_200000_create_failed_jobs_table.php
  database/migrations/2020_01_01_000001_create_users_table.php
  database/migrations/2020_01_01_000002_create_password_resets_table.php
  docker-compose.yml
  public/vendor/telescope/app-dark.css
  public/vendor/telescope/app.css
  public/vendor/telescope/app.js
  public/vendor/telescope/favicon.ico
  public/vendor/telescope/mix-manifest.json
Due: test:codestyle, test:phpcpd, security:sensiolabs

✨ update fonts/global styles/scss structure/ global layouts
  resources/fonts/Gotham-Black.eot
  resources/fonts/Gotham-Black.ttf
  resources/fonts/Gotham-Black.woff
  resources/fonts/Gotham-Black.woff2
  resources/fonts/Gotham-Book.eot
  resources/fonts/Gotham-Book.ttf
  resources/fonts/Gotham-Book.woff
  resources/fonts/Gotham-Book.woff2
  resources/fonts/Gotham-Medium.eot
  resources/fonts/Gotham-Medium.ttf
  resources/fonts/Gotham-Medium.woff
  resources/fonts/Gotham-Medium.woff2
  resources/js/components/global/CookieBanner.vue
  resources/js/components/global/Loader.vue
  resources/js/components/global/TheFooter.vue
  resources/js/components/global/TheHeader.vue
  resources/js/pages/App.vue
  resources/js/pages/HomePage.vue
  resources/sass/_fonts.scss
  resources/sass/_global.scss
  resources/sass/_reset.scss
  resources/sass/_variables.scss
  resources/sass/app.scss
  resources/views/app.blade.php
Due: none

🎨 SeoTools
  app/Support/SeoTools/MetaTags.php
  config/seotools.php
Due: test:codestyle, test:phpcpd

🍱 Update favicon data
  .favicon/faviconData.json
Due: none

🎨
  resources/js/pages/HomePage.vue
  resources/views/app.blade.php
Due: none

💄 Update Binalogue's Laravel Nova theme
  nova-components/BinalogueNovaTheme/resources/css/theme.css
  resources/views/vendor/nova/partials/logo.blade.php
Due: none

🛸 Update Nova resources
  app/App/Nova/Resources/Role.php
  app/App/Nova/Resources/User.php
Due: test:codestyle, test:phpcpd

🛸 Update Nova footer
  resources/views/vendor/nova/partials/footer.blade.php
  resources/views/vendor/nova/partials/footer_logo.blade.php
Due: none

📈 Add GTM test event
  resources/js/pages/HomePage.vue
Due: none

🎨
  app/App/Platform/Users/Controllers/Auth/ForceResetPasswordController.php
  app/App/Platform/Users/Controllers/ProfileController.php
  app/Domain/Users/Actions/DeleteUserAction.php
  app/Domain/Users/Actions/DeleteUserAvatarsAction.php
  app/Domain/Users/DataTransferObjects/ForceResetPasswordData.php
  app/Domain/Users/Observers/UserObserver.php
Due: test:codestyle, test:phpcpd

🚧
  package.json
  resources/js/app.js
  resources/js/components/AuthLoginForm.vue
  resources/js/components/AuthPasswordForceResetForm.vue
  resources/js/components/AuthPasswordRequestForm.vue
  resources/js/components/AuthPasswordResetForm.vue
  resources/js/components/AuthPreRegisterForm.vue
  resources/js/components/AuthRegisterForm.vue
  resources/js/components/AuthVerificationForm.vue
  resources/js/components/BaseFormGroup.vue
  resources/js/components/BaseInputCheckbox.vue
  resources/js/components/BaseInputCheckboxDouble.vue
  resources/js/components/BaseInputText.vue
  resources/js/components/BaseSubmitButton.vue
  resources/js/components/icons/IconExclamation.vue
  resources/js/components/icons/LogoGoogle.vue
  resources/js/helpers/vuelidate.js
  resources/js/mixins/HasVuelidate.vue
  resources/js/pages/AuthLoginPage.vue
  resources/js/pages/AuthPasswordForceResetPage.vue
  resources/js/pages/AuthPasswordRequestPage.vue
  resources/js/pages/AuthPreRegisterPage.vue
  resources/js/pages/AuthRegisterPage.vue
  resources/js/pages/AuthVerificationPage.vue
  resources/js/pages/ProfileShowPage.vue
  resources/sass/_css-animations.scss
  resources/sass/_global.scss
  resources/sass/_variables.scss
  resources/sass/app.scss
  yarn.lock
Due: none

🐛 Fix header link
  resources/js/components/TheHeader.vue
Due: none

⚡️ Prefetch Google Tag Manager URLs
  resources/views/app.blade.php
Due: none

📝 Update README
  README.md
Due: none

🐛 Fix "hasVerifiedEmail"
  app/Domain/Users/DataTransferObjects/UserData.php
Due: test:codestyle, test:phpcpd

👷‍♂️ Update CI variables
  .gitlab-ci.yml
Due: none

⬆️ composer update
  composer.lock
Due: security:sensiolabs

💄 clean styles
  resources/js/components/AuthLoginForm.vue
  resources/js/components/AuthPasswordRequestForm.vue
  resources/js/components/AuthPasswordResetForm.vue
  resources/js/components/AuthPreRegisterForm.vue
  resources/js/components/AuthRegisterForm.vue
  resources/js/pages/AuthPasswordForceResetPage.vue
  resources/sass/_global.scss
Due: none

✨
  webpack.mix.js
Due: none

🎨 BaseInput new structure
  resources/fonts/Gotham-Bold.eot
  resources/fonts/Gotham-Bold.ttf
  resources/fonts/Gotham-Bold.woff
  resources/fonts/Gotham-Bold.woff2
  resources/js/components/AuthLoginForm.vue
  resources/js/components/AuthRegisterForm.vue
  resources/js/components/BaseFormGroup.vue
  resources/js/components/BaseInputCheckbox.vue
  resources/js/components/BaseInputCheckboxDouble.vue
  resources/js/components/BaseInputText.vue
  resources/sass/_fonts.scss
  resources/sass/_global.scss
  resources/sass/_variables.scss
Due: none

✨ icons in input
  resources/sass/_global.scss
Due: none

🎨 checkbox
  resources/js/components/AuthLoginForm.vue
  resources/js/components/BaseInputCheckbox.vue
  resources/sass/_global.scss
Due: none

🔥 clean code
  resources/js/components/AuthRegisterForm.vue
  resources/js/components/BaseInputCheckboxDouble.vue
  resources/sass/_global.scss
Due: none
