Repository binalogue/laravel-boilerplate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:codestyle, test:phpcpd, security:sensiolabs

.gitlab-ci.yml:

# Templates

.only-mr-backend:
  only:
    refs:
      - merge_requests
    changes:
      - app/**/*
      - bootstrap/**/*
      - config/**/*
      - database/**/*
      - routes/**/*
      - tests/**/*

# GitLab CI

stages:
  - install
  - build
  - test
  - security
  - staging
  - production

# install:composer:
#   extends:
#     - .only-mr-backend
#   stage: install
#   image: edbizarro/gitlab-ci-pipeline-php:7.3
#   script:
#     - php -v
#     - composer install --prefer-dist --no-scripts --no-progress --optimize-autoloader --ignore-platform-reqs --no-ansi --no-interaction
#     - cp .env.forge .env
#     - php artisan key:generate
#   artifacts:
#     name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
#     paths:
#       - vendor/
#       - .env
#     when: always
#     expire_in: 1 days
#   cache:
#     key: '$CI_JOB_NAME-$CI_COMMIT_REF_SLUG'
#     paths:
#       - vendor/

# install:yarn:
#   extends:
#     - .only-mr-backend
#   stage: install
#   image: edbizarro/gitlab-ci-pipeline-php:7.3
#   script:
#     - yarn --version
#     - yarn install --pure-lockfile
#   artifacts:
#     name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
#     paths:
#       - node_modules/
#     when: always
#     expire_in: 1 days
#   cache:
#     key: '$CI_JOB_NAME-$CI_COMMIT_REF_SLUG'
#     paths:
#       - node_modules/

# build:assets:
#   extends:
#     - .only-mr-backend
#   stage: build
#   image: edbizarro/gitlab-ci-pipeline-php:7.3
#   script:
#     - yarn --version
#     - yarn favicon:check
#     - yarn prod --progress false
#   dependencies:
#     - install:composer
#     - install:yarn
#   artifacts:
#     name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
#     paths:
#       - public/css/
#       - public/fonts/
#       - public/images/
#       - public/js/
#       - public/video/
#       - public/mix-manifest.json
#     when: always
#     expire_in: 1 days

test:codestyle:
  stage: test
  image: lorisleiva/laravel-docker
  script:
    - phpcs --standard=PSR2 --extensions=php app
  dependencies: []
  only:
    refs:
      - merge_requests
    changes:
      - app/**/*

test:phpcpd:
  stage: test
  image: edbizarro/gitlab-ci-pipeline-php:7.3
  script:
    - test -f phpcpd.phar || curl -L https://phar.phpunit.de/phpcpd.phar -o phpcpd.phar
    - php phpcpd.phar app/ --min-lines=50
  dependencies: []
  cache:
    key: '$CI_JOB_NAME-$CI_COMMIT_REF_SLUG'
    paths:
      - phpcpd.phar
  only:
    refs:
      - merge_requests
    changes:
      - app/**/*

# test:phpunit:
#   extends:
#     - .only-mr-backend
#   stage: test
#   image: edbizarro/gitlab-ci-pipeline-php:7.3
#   dependencies:
#     - install:composer
#     - build:assets
#   script:
#     - php -v
#     - sudo cp /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini /usr/local/etc/php/conf.d/docker-php-ext-xdebug.bak
#     - echo "" | sudo tee /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
#     - ./vendor/phpunit/phpunit/phpunit --version
#     - php -d short_open_tag=off ./vendor/phpunit/phpunit/phpunit -v --colors=never --stderr
#     - sudo cp /usr/local/etc/php/conf.d/docker-php-ext-xdebug.bak /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
#   artifacts:
#     name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
#     paths:
#       - storage/logs # for debugging
#     when: on_failure
#     expire_in: 1 days

security:sensiolabs:
  stage: security
  image: edbizarro/gitlab-ci-pipeline-php:7.3
  script:
    - test -d security-checker || git clone https://github.com/sensiolabs/security-checker.git
    - cd security-checker
    - composer install
    - php security-checker security:check ../composer.lock
  dependencies: []
  cache:
    key: '$CI_JOB_NAME-$CI_COMMIT_REF_SLUG'
    paths:
      - security-checker/
  only:
    refs:
      - merge_requests
    changes:
      - composer.json
      - composer.lock

🏗 Add telescope preset
  .cli/up.sh
  .presets/nova/src/preset.js
  .presets/telescope/.gitignore
  .presets/telescope/README.md
  .presets/telescope/package.json
  .presets/telescope/src/preset.js
  .presets/telescope/templates/app/Support/Providers/TelescopeServiceProvider.php
  .presets/telescope/templates/config/telescope.php
  README.md
  app/Support/Console/Kernel.php
  composer.json
  composer.lock
  config/app.php
  database/migrations/2018_08_08_100000_create_telescope_entries_table.php
Due: test:codestyle, test:phpcpd, security:sensiolabs

🔧 [skip ci] Delete cache files
  .cli/up.sh
Due: none

➖ Remove "@mgoigfer/vue-social-media"
  package.json
  yarn.lock
Due: none

🏗 Remove moment
  resources/js/app.js
  resources/js/plugins/vue-moment.js
Due: none

⬆️ composer update
  composer.lock
Due: security:sensiolabs

🎨 Add "newFactory" to user model
  .presets/nova/templates/tests/App/Nova/Users/Resources/UserTest.php
  .presets/nova/templates/tests/NovaTestCase.php
  app/Domain/Users/Models/User.php
  tests/App/Platform/Auth/Controllers/EmailVerificationControllerTest.php
  tests/App/Platform/Auth/Controllers/ForgotPasswordControllerTest.php
  tests/App/Platform/Auth/Controllers/LoginControllerTest.php
  tests/App/Platform/Auth/Controllers/ResetPasswordControllerTest.php
  tests/App/Platform/Auth/Controllers/SocialiteControllerTest.php
  tests/App/Platform/Auth/Middlewares/EmailVerificationMiddlewareTest.php
  tests/App/Platform/Auth/Middlewares/LoginMiddlewareTest.php
  tests/App/Platform/Auth/Middlewares/PreRegisterMiddlewareTest.php
  tests/App/Platform/Auth/Middlewares/RegisterMiddlewareTest.php
  tests/App/Platform/Auth/Middlewares/SocialiteMiddlewareTest.php
  tests/App/Platform/Auth/Requests/PreRegisterRequestTest.php
  tests/App/Platform/Auth/Requests/ResetPasswordRequestTest.php
  tests/App/Platform/Users/Controllers/ProfileControllerTest.php
  tests/App/Platform/Users/Middlewares/ProfileMiddlewareTest.php
  tests/Domain/Users/Models/UserTest.php
Due: test:codestyle, test:phpcpd

🔒 Upgrade "laravel-mix" to 5.0.5
  package.json
  yarn.lock
Due: none

⏩ Remove nprogress CSS (now included in @inertiajs/progress)
  package.json
  resources/js/app.js
  resources/js/plugins/inertia-progress.js
  resources/sass/_global.scss
  resources/sass/app.scss
  yarn.lock
Due: none

⏩ Align with new Inertia events
  resources/js/components/AuthLoginForm.vue
  resources/js/components/AuthPasswordForceResetForm.vue
  resources/js/components/AuthPasswordRequestForm.vue
  resources/js/components/AuthPreRegisterForm.vue
  resources/js/components/AuthRegisterForm.vue
  resources/js/components/AuthVerificationForm.vue
  resources/js/mixins/vuelidate.js
Due: none

⏩ Add ErrorPage
  app/Support/Exceptions/Handler.php
  resources/js/pages/ErrorPage.vue
Due: test:codestyle, test:phpcpd

🎨 Cleanup migrations
  .presets/nova/templates/database/migrations/2019_08_13_000000_create_nova_settings_table.php
  database/migrations/2019_08_19_000000_create_failed_jobs_table.php
  database/migrations/2019_08_19_000001_create_notifications_table.php
  database/migrations/2020_01_01_000000_create_roles_table.php
  database/migrations/2020_01_01_000001_create_users_table.php
  database/migrations/2020_01_01_000002_create_password_resets_table.php
Due: none

🚚 Rename migrations
  .presets/nova/templates/database/migrations/0000_00_00_000000_create_nova_settings_table.php
  database/migrations/2020_01_01_000001_create_failed_jobs_table.php
  database/migrations/2020_01_01_000002_create_notifications_table.php
  database/migrations/2020_01_02_000001_create_password_resets_table.php
  database/migrations/2020_01_02_000002_create_roles_table.php
  database/migrations/2020_01_02_000003_create_users_table.php
Due: none

🎨 Cleanup routes
  routes/web.php
Due: none

⏩ Simplify validation errors
  app/Support/Providers/InertiaServiceProvider.php
  resources/js/components/BaseFormGroup.vue
Due: test:codestyle, test:phpcpd

🎨
  resources/js/mixins/page.js
Due: none

➕ Add "friendsofphp/php-cs-fixer"
  composer.json
  composer.lock
Due: security:sensiolabs

➕ Remove "friendsofphp/php-cs-fixer"
  composer.json
  composer.lock
Due: security:sensiolabs

🔧 Setup PHP CS Fixer
  .editorconfig
  .gitignore
  .php_cs.dist
  composer.json
Due: security:sensiolabs

🚨
  app/App/Platform/Auth/Controllers/ForgotPasswordController.php
  app/App/Platform/Auth/Controllers/ResetPasswordController.php
  app/Domain/Users/Models/Role.php
  app/Domain/Users/Models/User.php
  app/Support/Http/Middleware/Robots.php
  app/Support/Providers/RouteServiceProvider.php
  app/Support/SeoTools/MetaTags.php
  app/Support/SeoTools/OpenGraph.php
  app/Support/View/AppViewComposer.php
  tests/App/Platform/Auth/Requests/PreRegisterRequestTest.php
  tests/App/Platform/Auth/Requests/RegisterRequestTest.php
Due: test:codestyle, test:phpcpd

➖ Remove "squizlabs/php_codesniffer"
  composer.json
  composer.lock
Due: security:sensiolabs

🔧 Setup PHP CS Fixer
  .gitlab-ci.yml
  .php_cs.dist
  composer.json
  package.json
Due: security:sensiolabs

🚨
  app/Support/SeoTools/MetaTags.php
  app/Support/SeoTools/OpenGraph.php
  config/laravel-localization.php
  resources/lang/es/auth.php
  resources/lang/es/pagination.php
  resources/lang/es/passwords.php
  resources/lang/es/validation.php
Due: test:codestyle, test:phpcpd

🔧 Add PHP CS Fixer references
  .php_cs.dist
Due: none

➕ Add "binalogue/php-cs-fixer-config"
  composer.json
  composer.lock
Due: security:sensiolabs

🔧 Setup "binalogue/php-cs-fixer-config"
  .php_cs.dist
Due: none

👷‍♂️ Setup styles jobs
  .gitlab-ci.yml
Due: none

👷‍♂️ Add master ref to "security:sensiolabs" job
  .gitlab-ci.yml
Due: none

🎨
  .gitlab-ci.yml
Due: none

👷‍♂️ Add paths to cache
  .gitlab-ci.yml
Due: none

🔧 Add PHP CS Fixer extension
  .vscode/settings.json
Due: none

👷‍♂️ Fix php-cs-fixer job
  .gitlab-ci.yml
Due: none

👷‍♂️ Fix stage
  .gitlab-ci.yml
Due: none

🎨 Cleanup Laravel Mix config
  webpack.mix.js
Due: none

➕ Add "nunomaduro/larastan"
  composer.json
  composer.lock
Due: security:sensiolabs

🎨
  composer.json
Due: security:sensiolabs

🔧 Setup larastan level 1
  composer.json
  phpstan.neon.dist
Due: security:sensiolabs

🚨
  app/App/Platform/Auth/Middleware/Authenticate.php
  app/Domain/Users/Models/User.php
  app/Support/Eloquent/User.php
  app/Support/Notifications/Notifiable.php
  app/Support/Testing/Factory.php
  app/Support/View/AppViewComposer.php
Due: test:codestyle, test:phpcpd

🎨
  package.json
Due: none

🔧 Setup larastan level 2
  phpstan.neon.dist
Due: none
