Repository binalogue/laravel-boilerplate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit, security:sensiolabs

install:composer:
  stage: install
  image: edbizarro/gitlab-ci-pipeline-php:7.4
  before_script:
  - echo "{\"http-basic\":{\"nova.laravel.com\":{\"username\":\"${NOVA_USERNAME}\",\"password\":\"${NOVA_PASSWORD}\"}}}" > auth.json
  script:
  - php -v
  ...

styles:php-cs-fixer:
  stage: styles
  image: edbizarro/gitlab-ci-pipeline-php:7.4
  dependencies:
  - install:composer
  script:
  - vendor/bin/php-cs-fixer fix --dry-run --no-interaction
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - .php_cs.cache

styles:phpcpd:
  stage: test
  image: edbizarro/gitlab-ci-pipeline-php:7.4
  dependencies: []
  script:
  - test -f phpcpd.phar || curl -L https://phar.phpunit.de/phpcpd.phar -o phpcpd.phar
  - php phpcpd.phar .
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - phpcpd.phar

test:phpunit:
  stage: test
  image: edbizarro/gitlab-ci-pipeline-php:7.4
  dependencies:
  - install:composer
  script:
  - php -v
  - sudo cp /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini /usr/local/etc/php/conf.d/docker-php-ext-xdebug.bak
  - echo "" | sudo tee /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
  ...

security:sensiolabs:
  stage: security
  image: edbizarro/gitlab-ci-pipeline-php:7.4
  script:
  - test -d security-checker || git clone https://github.com/sensiolabs/security-checker.git
  - cd security-checker
  - composer install
  - php security-checker security:check ../composer.lock
  dependencies: []
  cache:
  ...

🚨
  app/App/Console/Users/CreateRoleCommand.php
  app/App/Platform/Auth/Controllers/SocialiteController.php
  app/App/Platform/Auth/Middleware/Authenticate.php
  app/Domain/Users/Actions/UpdateUserAvatarAction.php
  app/Domain/Users/DataTransferObjects/UserData.php
  app/Domain/Users/Models/User.php
  app/Support/Providers/InertiaServiceProvider.php
  app/Support/SeoTools/FacebookSharing.php
  app/Support/SeoTools/TwitterCards.php
  app/Support/View/AppViewComposer.php
  app/helpers.php
  tests/App/Platform/Auth/Controllers/SocialiteControllerTest.php
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit

🔧 Setup larastan level 3
  phpstan.neon.dist
Due: none

🚨
  app/Support/Pagination/LengthAwarePaginator.php
  app/Support/SeoTools/FacebookSharing.php
  app/Support/SeoTools/MetaTags.php
  app/helpers.php
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit

📝 [skip ci] Update Laravel version
  README.md
Due: none

🔧 Setup larastan level 4
  phpstan.neon.dist
Due: none

🚨
  app/App/Platform/Auth/Controllers/SocialiteController.php
  app/Domain/Users/Concerns/HasRoles.php
  app/Support/SeoTools/Contracts/MetaTags.php
  app/Support/SeoTools/Contracts/OpenGraph.php
  app/Support/SeoTools/MetaTags.php
  app/Support/SeoTools/OpenGraph.php
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit

🎨
  phpstan.neon.dist
Due: none

🔧 Setup larastan level 5
  phpstan.neon.dist
Due: none

🔧 Setup larastan level 6
  phpstan.neon.dist
Due: none

🚨
  app/App/Console/Users/CreateRoleCommand.php
  app/App/Platform/Auth/Middleware/MustResetPassword.php
  app/App/Platform/Auth/Middleware/RedirectIfAuthenticated.php
  app/App/PlatformDev/Mails/Controllers/MailsController.php
  app/Domain/Users/Concerns/HasRoles.php
  app/Domain/Users/DataTransferObjects/UserData.php
  app/Domain/Users/Exceptions/RoleDoesNotExist.php
  app/Domain/Users/Models/User.php
  app/Domain/Users/Notifications/UserVerified.php
  app/Domain/Users/Policies/RolePolicy.php
  app/Domain/Users/Policies/UserPolicy.php
  app/Domain/Users/Subscribers/UserSubscriber.php
  app/Support/Eloquent/Model.php
  app/Support/Pagination/LengthAwarePaginator.php
  app/Support/Providers/EventServiceProvider.php
  app/Support/SeoTools/MetaTags.php
  app/Support/SeoTools/TwitterCards.php
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit

🔧 Setup larastan level 7
  phpstan.neon.dist
Due: none

🚨
  app/App/Console/Users/CreateRoleCommand.php
  app/App/Platform/Auth/Controllers/EmailVerificationController.php
  app/App/Platform/Auth/Controllers/ForceResetPasswordController.php
  app/App/Platform/Auth/Controllers/ForgotPasswordController.php
  app/App/Platform/Auth/Controllers/ResetPasswordController.php
  app/App/Platform/Auth/Controllers/SocialiteController.php
  app/App/Platform/Auth/Middleware/MustResetPassword.php
  app/App/Platform/Users/Controllers/ProfileController.php
  app/App/Platform/Users/Controllers/UpdateProfileAvatarController.php
  app/Domain/Users/Concerns/HasRoles.php
  app/Domain/Users/Notifications/UserForgotPassword.php
  app/Domain/Users/Notifications/UserRegistered.php
  app/Domain/Users/Notifications/UserRequestedVerification.php
  app/Domain/Users/Notifications/UserVerified.php
  app/Support/SeoTools/MetaTags.php
  app/Support/SeoTools/OpenGraph.php
  app/Support/SeoTools/TwitterCards.php
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit

🔧 Setup larastan level 8
  phpstan.neon.dist
Due: none

🚨
  app/App/Platform/Users/Controllers/ProfileController.php
  app/App/Platform/Users/Controllers/UpdateProfileAvatarController.php
  app/App/PlatformDev/Mails/Controllers/MailsController.php
  app/Domain/Users/Actions/CreateUserAction.php
  app/Domain/Users/Models/User.php
  app/Support/Providers/InertiaServiceProvider.php
  app/Support/SeoTools/Contracts/MetaTags.php
  app/Support/SeoTools/MetaTags.php
  app/Support/SeoTools/OpenGraph.php
  app/helpers.php
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit

🔧 Fix script
  composer.json
Due: security:sensiolabs

👷‍♂️ Add "styles:larastan" job
  .gitlab-ci.yml
Due: none

🎨 Replace "styles" with "analyse"
  .gitlab-ci.yml
  composer.json
Due: security:sensiolabs

⬆️ composer update
  composer.lock
Due: security:sensiolabs

🚨
  app/App/PlatformDev/Mails/Controllers/MailsController.php
  config/session.php
  public/index.php
  server.php
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit

🔧 [skip-ci] Do not auto-commit fixed code when running "lint-staged"
  package.json
Due: none

🍱 Update favicon background color
  .favicon/faviconData.json
  .favicon/faviconDescription.json
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/site.webmanifest
  resources/views/modules/icons.blade.php
Due: none

🔧 [skip-ci] Update favicon scripts
  package.json
Due: none

🔧 [skip-ci] Add nvm
  .nvmrc
Due: none

🏗 Add setup preset
  .env.docker
  .favicon/faviconData.json
  .favicon/faviconDescription.json
  .gitlab-ci.yml
  .presets/setup/.gitignore
  .presets/setup/README.md
  .presets/setup/package.json
  .presets/setup/src/preset.js
  README.md
  SETUP.md
  public/site.webmanifest
Due: none

🏗 Add horizon preset
  .cli/up.sh
  .docker/supervisor/conf.d/queue.conf
  .env.docker
  .presets/horizon/.gitignore
  .presets/horizon/README.md
  .presets/horizon/package.json
  .presets/horizon/src/preset.js
  .presets/horizon/templates/app/Support/Providers/HorizonServiceProvider.php
  .presets/horizon/templates/config/horizon.php
  README.md
  app/Support/Console/Kernel.php
  composer.json
  config/app.php
  config/logging.php
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit, security:sensiolabs

👌 horizon preset
  .presets/horizon/src/preset.js
Due: none

👌 auth preset
  .presets/auth/src/preset.js
  composer.json
  composer.lock
  config/services.php
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit, security:sensiolabs

🔥 Remove unused files
  config/laravel-localization.php
  config/media-library.php
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit

👌 horizon preset
  .presets/horizon/templates/database/migrations/0000_00_00_000000_create_failed_jobs_table.php
  database/migrations/.gitkeep
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit

🎨 Cleanup PHP extensions
  .presets/horizon/src/preset.js
  .presets/telescope/src/preset.js
  composer.json
  composer.lock
Due: security:sensiolabs

➕ Add "artesaos/seotools"
  composer.json
  composer.lock
Due: security:sensiolabs

📈 Cleanup artesao/seotools
  app/Support/Providers/InertiaServiceProvider.php
  app/Support/Providers/SeoToolsServiceProvider.php
  app/Support/SeoTools/Contracts/FacebookSharing.php
  app/Support/SeoTools/Contracts/MetaTags.php
  app/Support/SeoTools/Contracts/OpenGraph.php
  app/Support/SeoTools/Contracts/TwitterCards.php
  app/Support/SeoTools/Facades/FacebookSharing.php
  app/Support/SeoTools/Facades/MetaTags.php
  app/Support/SeoTools/Facades/OpenGraph.php
  app/Support/SeoTools/Facades/TwitterCards.php
  app/Support/SeoTools/FacebookSharing.php
  app/Support/SeoTools/MetaTags.php
  app/Support/SeoTools/OpenGraph.php
  app/Support/SeoTools/SeoTools.php
  app/Support/SeoTools/TwitterCards.php
  config/app.php
  config/seotools.php
  resources/views/modules/seo.blade.php
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit

⏩ Cleanup Inertia.js syntax
  .presets/auth/templates/app/App/Platform/Users/Controllers/ProfileController.php
  .presets/auth/templates/resources/js/components/AuthPreRegisterForm.vue
Due: none

🎨 Follow Spatie's guidelines
  .presets/auth/src/preset.js
  .presets/auth/templates/app/App/Console/Users/CreateRoleCommand.php
  .presets/auth/templates/app/App/PlatformDev/Mails/Controllers/MailsController.php
  .presets/auth/templates/app/Domain/Users/Contracts/Role.php
  .presets/auth/templates/app/Domain/Users/Exceptions/RoleDoesNotExistException.php
  .presets/auth/templates/app/Domain/Users/Models/Role.php
  .presets/auth/templates/app/Domain/Users/Notifications/UserForgotPasswordNotification.php
  .presets/auth/templates/app/Domain/Users/Notifications/UserRegisteredNotification.php
  .presets/auth/templates/app/Domain/Users/Notifications/UserRequestedVerificationNotification.php
  .presets/auth/templates/app/Domain/Users/Notifications/UserVerifiedNotification.php
  .presets/auth/templates/app/Domain/Users/Subscribers/UserSubscriber.php
  .presets/auth/templates/app/Support/Auth/MustVerifyEmail.php
  .presets/auth/templates/app/Support/Auth/Passwords/CanResetPassword.php
  .presets/auth/templates/tests/App/Platform/Auth/Controllers/EmailVerificationControllerTest.php
  .presets/auth/templates/tests/App/Platform/Auth/Controllers/ForgotPasswordControllerTest.php
  .presets/nova/templates/app/App/Nova/Users/Resources/Role.php
  .presets/nova/templates/app/App/Nova/Users/Resources/User.php
  resources/views/vendor/mail/html/message.blade.php
  resources/views/vendor/mail/text/message.blade.php
  resources/views/vendor/notifications/email.blade.php
Due: none

⬆️ composer update binalogue/php-cs-fixer-config
  composer.lock
Due: security:sensiolabs

🚨
  app/Support/Providers/RouteServiceProvider.php
  app/Support/SchemalessAttributes/HasExtraAttributes.php
  app/helpers.php
Due: install:composer, styles:php-cs-fixer, styles:phpcpd, test:phpunit

🔧 Fix presets
  .presets/auth/src/preset.js
  .presets/nova/src/preset.js
  .presets/setup/src/preset.js
  .presets/setup/templates/README.md
Due: none

🔧 [skip-ci] Fix presets
  .presets/auth/src/preset.js
Due: none

🔧 [skip-ci] Fix presets
  .docker/app.nginx.dockerfile
  .presets/apache/templates/.docker/app.apache.dockerfile
  .presets/auth/templates/app/App/Platform/Auth/Controllers/SocialiteController.php
  .presets/auth/templates/app/Domain/Users/Contracts/Role.php
  .presets/auth/templates/database/factories/UserFactory.php
  .presets/auth/templates/database/migrations/0000_00_00_000000_create_notifications_table.php
  .presets/auth/templates/database/migrations/0000_00_00_000000_create_password_resets_table.php
  .presets/auth/templates/database/migrations/0000_00_00_000000_create_roles_table.php
  .presets/auth/templates/database/migrations/0000_00_00_000000_create_users_table.php
  .presets/nova/src/preset.js
  .presets/nova/templates/app/Support/Nova/Resource.php
  .presets/nova/templates/database/migrations/2019_08_13_000000_create_nova_settings_table.php
  .presets/nova/templates/tests/App/Nova/Users/Resources/UserTest.php
  .presets/setup/src/preset.js
  README.md
Due: none

Path conditions:
  install:composer: any of: app/**/*, bootstrap/**/*, config/**/*, database/**/*, routes/**/*, tests/**/*
  styles:php-cs-fixer: any of: app/**/*, bootstrap/**/*, config/**/*, database/**/*, routes/**/*, tests/**/*
  styles:phpcpd: any of: app/**/*, bootstrap/**/*, config/**/*, database/**/*, routes/**/*, tests/**/*
  test:phpunit: any of: app/**/*, bootstrap/**/*, config/**/*, database/**/*, routes/**/*, tests/**/*
  security:sensiolabs: any of: composer.json, composer.lock
