Repository binalogue/laravel-boilerplate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:codestyle, test:phpcpd, security:sensiolabs

.gitlab-ci.yml:

# Templates

.only-mr-backend:
  only:
    refs:
      - merge_requests
    changes:
      - app/**/*
      - bootstrap/**/*
      - config/**/*
      - database/**/*
      - routes/**/*
      - tests/**/*

# GitLab CI

stages:
  - install
  - build
  - test
  - security
  - staging
  - production

# install:composer:
#   extends:
#     - .only-mr-backend
#   stage: install
#   image: edbizarro/gitlab-ci-pipeline-php:7.3
#   script:
#     - php -v
#     - composer install --prefer-dist --no-scripts --no-progress --optimize-autoloader --ignore-platform-reqs --no-ansi --no-interaction
#     - cp .env.forge .env
#     - php artisan key:generate
#   artifacts:
#     name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
#     paths:
#       - vendor/
#       - .env
#     when: always
#     expire_in: 1 days
#   cache:
#     key: '$CI_JOB_NAME-$CI_COMMIT_REF_SLUG'
#     paths:
#       - vendor/

# install:yarn:
#   extends:
#     - .only-mr-backend
#   stage: install
#   image: edbizarro/gitlab-ci-pipeline-php:7.3
#   script:
#     - yarn --version
#     - yarn install --pure-lockfile
#   artifacts:
#     name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
#     paths:
#       - node_modules/
#     when: always
#     expire_in: 1 days
#   cache:
#     key: '$CI_JOB_NAME-$CI_COMMIT_REF_SLUG'
#     paths:
#       - node_modules/

# build:assets:
#   extends:
#     - .only-mr-backend
#   stage: build
#   image: edbizarro/gitlab-ci-pipeline-php:7.3
#   script:
#     - yarn --version
#     - yarn favicon:check
#     - yarn prod --progress false
#   dependencies:
#     - install:composer
#     - install:yarn
#   artifacts:
#     name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
#     paths:
#       - public/css/
#       - public/fonts/
#       - public/images/
#       - public/js/
#       - public/video/
#       - public/mix-manifest.json
#     when: always
#     expire_in: 1 days

test:codestyle:
  stage: test
  image: lorisleiva/laravel-docker
  script:
    - phpcs --standard=PSR2 --extensions=php app
  dependencies: []
  only:
    refs:
      - merge_requests
    changes:
      - app/**/*

test:phpcpd:
  stage: test
  image: edbizarro/gitlab-ci-pipeline-php:7.3
  script:
    - test -f phpcpd.phar || curl -L https://phar.phpunit.de/phpcpd.phar -o phpcpd.phar
    - php phpcpd.phar app/ --min-lines=50
  dependencies: []
  cache:
    key: '$CI_JOB_NAME-$CI_COMMIT_REF_SLUG'
    paths:
      - phpcpd.phar
  only:
    refs:
      - merge_requests
    changes:
      - app/**/*

# test:phpunit:
#   extends:
#     - .only-mr-backend
#   stage: test
#   image: edbizarro/gitlab-ci-pipeline-php:7.3
#   dependencies:
#     - install:composer
#     - build:assets
#   script:
#     - php -v
#     - sudo cp /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini /usr/local/etc/php/conf.d/docker-php-ext-xdebug.bak
#     - echo "" | sudo tee /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
#     - ./vendor/phpunit/phpunit/phpunit --version
#     - php -d short_open_tag=off ./vendor/phpunit/phpunit/phpunit -v --colors=never --stderr
#     - sudo cp /usr/local/etc/php/conf.d/docker-php-ext-xdebug.bak /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
#   artifacts:
#     name: '$CI_JOB_NAME-$CI_COMMIT_REF_NAME'
#     paths:
#       - storage/logs # for debugging
#     when: on_failure
#     expire_in: 1 days

security:sensiolabs:
  stage: security
  image: edbizarro/gitlab-ci-pipeline-php:7.3
  script:
    - test -d security-checker || git clone https://github.com/sensiolabs/security-checker.git
    - cd security-checker
    - composer install
    - php security-checker security:check ../composer.lock
  dependencies: []
  cache:
    key: '$CI_JOB_NAME-$CI_COMMIT_REF_SLUG'
    paths:
      - security-checker/
  only:
    refs:
      - merge_requests
    changes:
      - composer.json
      - composer.lock

Adopt Laravel coding style
  app/App/Nova/Users/Resources/User.php
  app/App/Platform/Auth/Controllers/EmailVerificationController.php
  app/App/Platform/Auth/Controllers/RegisterController.php
  app/App/Platform/Auth/Middleware/Authenticate.php
  app/App/Platform/Auth/Middleware/MustResetPassword.php
  app/App/Platform/Auth/Requests/AuthRegisterRequest.php
  app/Domain/Users/Concerns/HasRoles.php
  app/Domain/Users/DataTransferObjects/UserData.php
  app/Domain/Users/Models/Role.php
  app/Domain/Users/Models/User.php
  app/Domain/Users/Notifications/UserForgotPassword.php
  app/Domain/Users/Subscribers/UserSubscriber.php
  app/Support/Eloquent/Concerns/HasRandomToken.php
  app/Support/Http/Middleware/RobotsMiddleware.php
  app/Support/Notifications/Notifiable.php
  app/Support/Providers/AppServiceProvider.php
  app/Support/Providers/AuthServiceProvider.php
  app/Support/Providers/RouteServiceProvider.php
  app/Support/SchemalessAttributes/HasExtraAttributes.php
  app/Support/SeoTools/TwitterCards.php
  app/Support/View/AppViewComposer.php
  app/helpers.php
  config/cache.php
  config/database.php
  config/filesystems.php
  config/nova-settings.php
  config/session.php
  database/migrations/2018_08_08_100000_create_telescope_entries_table.php
  database/migrations/2019_08_13_000000_create_nova_settings_table.php
  database/seeds/NovaSettingsTableSeeder.php
  routes/web.php
  tests/App/Nova/Users/Resources/UserTest.php
  tests/App/Platform/Auth/Requests/ForgotPasswordRequestTest.php
  tests/App/Platform/Auth/Requests/RegisterRequestTest.php
  tests/App/Platform/Auth/Requests/ShowResetFormRequestTest.php
  tests/CreatesApplication.php
Due: test:codestyle, test:phpcpd

Shift core files
  public/index.php
Due: none

Namespace seeders
  database/seeders/DatabaseSeeder.php
  database/seeders/NovaSettingsTableSeeder.php
  database/seeders/RolesTableSeeder.php
  database/seeders/UsersTableSeeder.php
  tests/NovaTestCase.php
Due: none

Ignore temporary framework files
  storage/framework/.gitignore
Due: none

Shift console routes
  routes/console.php
Due: none

Shift to class based factories
  Domain/Users/Models/User.php
  database/factories/UserFactory.php
Due: none

Shift config files
  config/queue.php
Due: none

Shift PSR-4 autoloading
  composer.json
Due: security:sensiolabs

Shift Laravel dependencies
  composer.json
Due: security:sensiolabs

Default config files
  config/auth.php
Due: none

Shift cleanup
  database/factories/UserFactory.php
Due: none

🚚
  app/Support/Http/Kernel.php
  app/Support/Http/Middleware/PreventRequestsDuringMaintenance.php
  app/Support/Http/Middleware/RobotsMiddleware.php
Due: test:codestyle, test:phpcpd

🏗 Update Kernel
  app/Support/Http/Kernel.php
Due: test:codestyle, test:phpcpd

🏗 Seeder & factory namespaces
  database/seeders/RolesTableSeeder.php
  database/seeders/UsersTableSeeder.php
Due: none

🏗 Model factories
  app/Domain/Users/Models/User.php
  database/factories/UserFactory.php
  tests/App/Nova/Users/Resources/UserTest.php
  tests/App/Platform/Auth/Controllers/EmailVerificationControllerTest.php
  tests/App/Platform/Auth/Controllers/ForgotPasswordControllerTest.php
  tests/App/Platform/Auth/Controllers/LoginControllerTest.php
  tests/App/Platform/Auth/Controllers/ResetPasswordControllerTest.php
  tests/App/Platform/Auth/Controllers/SocialiteControllerTest.php
  tests/App/Platform/Auth/Middlewares/EmailVerificationMiddlewareTest.php
  tests/App/Platform/Auth/Middlewares/LoginMiddlewareTest.php
  tests/App/Platform/Auth/Middlewares/PreRegisterMiddlewareTest.php
  tests/App/Platform/Auth/Middlewares/RegisterMiddlewareTest.php
  tests/App/Platform/Auth/Middlewares/SocialiteMiddlewareTest.php
  tests/App/Platform/Auth/Requests/PreRegisterRequestTest.php
  tests/App/Platform/Auth/Requests/ResetPasswordRequestTest.php
  tests/App/Platform/Users/Controllers/ProfileControllerTest.php
  tests/App/Platform/Users/Middlewares/ProfileMiddlewareTest.php
  tests/Domain/Users/Models/UserTest.php
  tests/Factories/UserFactory.php
  tests/NovaTestCase.php
Due: test:codestyle, test:phpcpd

🚚
  database/migrations/2019_08_19_000000_create_failed_jobs_table.php
  database/migrations/2019_08_19_000001_create_notifications_table.php
  database/migrations/2020_01_01_000000_create_roles_table.php
  database/migrations/2020_01_01_000001_create_users_table.php
  database/migrations/2020_01_01_000002_create_password_resets_table.php
Due: none

⬆️ Migrate to Laravel 8
  app/App/Platform/Auth/Middleware/RedirectIfAuthenticated.php
  app/Support/Exceptions/Handler.php
  app/Support/Http/Kernel.php
  app/Support/Http/Middleware/TrustHosts.php
  app/Support/Http/Middleware/TrustProxies.php
  app/Support/Providers/EventServiceProvider.php
  app/Support/Providers/RouteServiceProvider.php
  composer.json
  config/auth.php
  config/mail.php
  config/session.php
  database/factories/UserFactory.php
  phpunit.xml
  public/.htaccess
  public/index.php
  routes/channels.php
  storage/framework/.gitignore
Due: test:codestyle, test:phpcpd, security:sensiolabs

⬆️ composer update
  app/Support/View/AppViewComposer.php
  composer.json
  composer.lock
Due: test:codestyle, test:phpcpd, security:sensiolabs

Update lint scripts
  .vscode/settings.json
  composer.json
  package.json
Due: security:sensiolabs

🚨
  app/Support/Http/Middleware/Robots.php
Due: test:codestyle, test:phpcpd

⬆️ composer update
  composer.lock
Due: security:sensiolabs

🔧 Update VSCode settings
  .vscode/settings.json
Due: none

✅
  tests/App/Nova/Users/Resources/UserTest.php
  tests/App/Platform/Auth/Controllers/EmailVerificationControllerTest.php
  tests/App/Platform/Auth/Controllers/ForgotPasswordControllerTest.php
  tests/App/Platform/Auth/Controllers/LoginControllerTest.php
  tests/App/Platform/Auth/Controllers/ResetPasswordControllerTest.php
  tests/App/Platform/Auth/Controllers/SocialiteControllerTest.php
  tests/App/Platform/Auth/Middlewares/EmailVerificationMiddlewareTest.php
  tests/App/Platform/Auth/Middlewares/LoginMiddlewareTest.php
  tests/App/Platform/Auth/Middlewares/PreRegisterMiddlewareTest.php
  tests/App/Platform/Auth/Middlewares/RegisterMiddlewareTest.php
  tests/App/Platform/Auth/Middlewares/SocialiteMiddlewareTest.php
  tests/App/Platform/Auth/Requests/PreRegisterRequestTest.php
  tests/App/Platform/Auth/Requests/ResetPasswordRequestTest.php
  tests/App/Platform/Users/Controllers/ProfileControllerTest.php
  tests/App/Platform/Users/Middlewares/ProfileMiddlewareTest.php
  tests/Domain/Users/Models/UserTest.php
  tests/NovaTestCase.php
Due: none

Publish vendor assets
  config/telescope.php
  resources/lang/vendor/nova/en.json
Due: none

🎨
  Domain/Users/Models/User.php
Due: none

🔧 Update env files
  .env.forge
Due: none

📝 Update installing instructions
  README.md
Due: none

Add HMR support
  .gitignore
  README.md
  docker-compose.yml
  package.json
  public/mix-manifest.json
  webpack.mix.js
Due: none

Add ngrok support
  README.md
  docker-compose.yml
Due: none

🙈 Remove mix-manifest.json from .gitignore
  .gitignore
  public/mix-manifest.json
Due: none

Support ngrok preset
  README.md
  docker-compose.yml
Due: none

🏗 Add Nova preset
  .cli/up.sh
  .gitignore
  .presets/nova/.gitignore
  .presets/nova/README.md
  .presets/nova/package.json
  .presets/nova/src/preset.js
  .presets/nova/templates/app/App/Nova/Users/Resources/Role.php
  .presets/nova/templates/app/App/Nova/Users/Resources/User.php
  .presets/nova/templates/app/Support/Nova/Resource.php
  .presets/nova/templates/app/Support/Providers/NovaServiceProvider.php
  .presets/nova/templates/auth.json
  .presets/nova/templates/config/nova-settings.php
  .presets/nova/templates/config/nova-theme-responsive.php
  .presets/nova/templates/config/nova.php
  .presets/nova/templates/database/migrations/2019_08_13_000000_create_nova_settings_table.php
  .presets/nova/templates/database/seeders/NovaSettingsTableSeeder.php
  .presets/nova/templates/resources/lang/vendor/nova/en.json
  .presets/nova/templates/resources/lang/vendor/nova/en/validation.php
  .presets/nova/templates/resources/views/vendor/nova/partials/footer.blade.php
  .presets/nova/templates/resources/views/vendor/nova/partials/footer_logo.blade.php
  .presets/nova/templates/resources/views/vendor/nova/partials/logo.blade.php
  .presets/nova/templates/resources/views/vendor/nova/partials/meta.blade.php
  .presets/nova/templates/resources/views/vendor/nova/partials/user.blade.php
  .presets/nova/templates/tests/App/Nova/NovaAccessTest.php
  .presets/nova/templates/tests/App/Nova/NovaConfigTest.php
  .presets/nova/templates/tests/App/Nova/Users/Resources/RoleTest.php
  .presets/nova/templates/tests/App/Nova/Users/Resources/UserTest.php
  .presets/nova/templates/tests/NovaTestCase.php
  README.md
  app/Support/View/AppViewComposer.php
  composer.json
  composer.lock
  config/app.php
  config/binalogue.php
  config/nova-media-library.php
  database/seeders/DatabaseSeeder.php
  resources/js/store/store.js
  resources/views/app.blade.php
Due: test:codestyle, test:phpcpd, security:sensiolabs

🔧 Lint .presets
  .vscode/settings.json
Due: none

🚨
  .presets/nova/src/preset.js
Due: none

🏗 Add ngrok preset
  .presets/ngrok/.gitignore
  .presets/ngrok/README.md
  .presets/ngrok/package.json
  .presets/ngrok/src/preset.js
Due: none

📝
  .presets/ngrok/README.md
  .presets/nova/README.md
Due: none

🏗 Add apache preset
  .presets/apache/.gitignore
  .presets/apache/README.md
  .presets/apache/package.json
  .presets/apache/src/preset.js
  .presets/apache/templates/.docker/apache/vhost.conf
  .presets/apache/templates/.docker/app.apache.dockerfile
  .presets/apache/templates/.docker/app.apache.sh
  .presets/apache/templates/docker-compose.yml
Due: none

📝
  README.md
Due: none

🏗 Add three.js preset
  .eslintrc.js
  .eslintrc.json
  .presets/three/.gitignore
  .presets/three/README.md
  .presets/three/package.json
  .presets/three/src/preset.js
  README.md
  webpack.mix.js
Due: none

🎨
  .presets/apache/templates/docker-compose.yml
  .presets/ngrok/src/preset.js
  docker-compose.yml
Due: none
