Repository binalogue/laravel-boilerplate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:codestyle, test:phpcpd, security:sensiolabs

test:codestyle:
  stage: test
  image: lorisleiva/laravel-docker
  script:
  - phpcs --standard=PSR2 --extensions=php app
  dependencies: []

test:phpcpd:
  stage: test
  image: edbizarro/gitlab-ci-pipeline-php:7.3
  script:
  - test -f phpcpd.phar || curl -L https://phar.phpunit.de/phpcpd.phar -o phpcpd.phar
  - php phpcpd.phar app/ --min-lines=50
  dependencies: []
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - phpcpd.phar

security:sensiolabs:
  stage: security
  image: edbizarro/gitlab-ci-pipeline-php:7.3
  script:
  - test -d security-checker || git clone https://github.com/sensiolabs/security-checker.git
  - cd security-checker
  - composer install
  - php security-checker security:check ../composer.lock
  dependencies: []
  cache:
  ...

💄
  resources/js/pages/AuthVerificationPage.vue
Due: none

💄
  resources/js/components/TheHeader.vue
  resources/js/components/TheLoader.vue
  resources/sass/_variables.scss
Due: none

🔥 clean code
  resources/js/pages/HomePage.vue
  resources/sass/_variables.scss
Due: none

🐛 fix btn-loading
  resources/sass/_global.scss
Due: none

Adopt Laravel coding style
  app/App/BaseApplication.php
  app/App/Nova/Resources/User.php
  app/App/Platform/Users/Controllers/Auth/RegisterController.php
  app/App/Platform/Users/Controllers/Auth/SocialiteController.php
  app/App/Platform/Users/Controllers/Auth/VerificationController.php
  app/App/Platform/Users/Middleware/Authenticate.php
  app/App/Platform/Users/Middleware/MustResetPassword.php
  app/App/Platform/Users/Requests/AuthRegisterRequest.php
  app/Domain/Users/Actions/UpdateUserAvatarAction.php
  app/Domain/Users/Concerns/UserHasRoles.php
  app/Domain/Users/DataTransferObjects/UserData.php
  app/Domain/Users/Models/Role.php
  app/Domain/Users/Models/User.php
  app/Domain/Users/Notifications/UserForgotPassword.php
  app/Domain/Users/Notifications/UserVerified.php
  app/Domain/Users/Subscribers/UserSubscriber.php
  app/Support/Http/Middleware/RobotsMiddleware.php
  app/Support/Notifications/Notifiable.php
  app/Support/Providers/AppServiceProvider.php
  app/Support/Providers/AuthServiceProvider.php
  app/Support/Providers/RouteServiceProvider.php
  app/Support/Providers/SeoToolsServiceProvider.php
  app/Support/Providers/TelescopeServiceProvider.php
  app/Support/SchemalessAttributes/HasExtraAttributes.php
  app/Support/SeoTools/MetaTags.php
  app/Support/SeoTools/OpenGraph.php
  app/Support/SeoTools/TwitterCards.php
  app/helpers.php
  config/cache.php
  config/database.php
  config/filesystems.php
  config/session.php
  config/telescope.php
  database/migrations/2018_08_08_100000_create_telescope_entries_table.php
  database/seeds/UsersTableSeeder.php
  tests/App/Platform/Requests/AuthRegisterRequestTest.php
  tests/CreatesApplication.php
Due: test:codestyle, test:phpcpd

Add laravel/ui dependency
  composer.json
Due: security:sensiolabs

Default config files
  config/auth.php
  config/logging.php
  config/mail.php
Due: none

Shift Laravel dependencies
  composer.json
Due: security:sensiolabs

Shift config files
  .env.docker
  .env.forge
  config/app.php
  config/cache.php
  config/cors.php
  config/filesystems.php
  config/mail.php
  config/queue.php
  config/session.php
  phpunit.xml
Due: none

Shift test config and references
  tests/TestCase.php
Due: none

Update to Laravel 7
  app/Support/Exceptions/Handler.php
Due: test:codestyle, test:phpcpd

🐳 Fix memory limit errors
  .docker/php/php.ini
Due: none

⬆️ composer update
  composer.json
  composer.lock
Due: security:sensiolabs

🚚 Move socialite config
  config/auth.php
  config/socialite.php
  routes/web.php
Due: none

✉️ Update email templates
  resources/views/vendor/mail/html/button.blade.php
  resources/views/vendor/mail/html/header.blade.php
  resources/views/vendor/mail/html/themes/default.css
Due: none

✅ Update PHPUnit config
  phpunit.xml
Due: none

⬆️ Update vendor assets
  .cli/up.sh
  config/nova.php
  config/telescope.php
  resources/lang/vendor/nova/en.json
  resources/views/vendor/nova/partials/user.blade.php
Due: none

🚨
  app/Support/SeoTools/TwitterCards.php
Due: test:codestyle, test:phpcpd

Update CLI scripts
  .cli/up.sh
Due: none

Update VSCode settings
  .vscode/settings.json
Due: none

Update env files
  .env.docker
  .env.gitlab
Due: none

🚚
  resources/images/.gitkeep
  resources/images/logo.png
  resources/js/components/TheHeader.vue
  resources/js/components/TheLoader.vue
  resources/js/pages/HomePage.vue
  resources/views/app.blade.php
Due: none

Update development environment
  .eslintrc.js
  .prettierrc.json
  .stylelintrc.json
  package.json
  webpack.mix.js
  yarn.lock
Due: none

🚨
  resources/js/app.js
  resources/js/components/AuthLoginForm.vue
  resources/js/components/AuthPasswordForceResetForm.vue
  resources/js/components/AuthPasswordRequestForm.vue
  resources/js/components/AuthPasswordResetForm.vue
  resources/js/components/AuthPreRegisterForm.vue
  resources/js/components/AuthRegisterForm.vue
  resources/js/components/AuthVerificationForm.vue
  resources/js/components/BaseFormGroup.vue
  resources/js/components/BaseInputCheckbox.vue
  resources/js/components/BaseInputText.vue
  resources/js/components/BaseSubmitButton.vue
  resources/js/components/TheCookieBanner.vue
  resources/js/components/TheFooter.vue
  resources/js/components/TheHeader.vue
  resources/js/components/TheLoader.vue
  resources/js/helpers/vue-directives.js
  resources/js/helpers/vue-filters.js
  resources/js/helpers/vue-layouts.js
  resources/js/layouts/App.vue
  resources/js/mixins/Page.vue
  resources/js/pages/AuthLoginPage.vue
  resources/js/pages/AuthPasswordForceResetPage.vue
  resources/js/pages/AuthPasswordRequestPage.vue
  resources/js/pages/AuthPreRegisterPage.vue
  resources/js/pages/AuthRegisterPage.vue
  resources/js/pages/AuthVerificationPage.vue
  resources/js/pages/HomePage.vue
  resources/js/pages/ProfileShowPage.vue
  resources/js/plugins/gtm.js
  resources/js/store.js
  resources/sass/_fonts.scss
  resources/sass/_global.scss
  resources/sass/_reset.scss
  resources/sass/_variables.scss
Due: none

🚨
  tests/App/Platform/Users/Middlewares/ProfileMiddlewareTest.php
Due: none

🌱 Fix admin logo
  database/seeds/NovaSettingsTableSeeder.php
Due: none

🛸 Add priority to resources
  app/App/Nova/Users/Resources/Role.php
  app/App/Nova/Users/Resources/User.php
  app/Support/Providers/NovaServiceProvider.php
Due: test:codestyle, test:phpcpd

🛸 Change group name
  app/App/Nova/Users/Resources/Role.php
  app/App/Nova/Users/Resources/User.php
Due: test:codestyle, test:phpcpd

🛸 Add example card
  app/Support/Providers/NovaServiceProvider.php
Due: test:codestyle, test:phpcpd

📧 Review mail templates
  app/App/PlatformDev/Mails/Controllers/MailsController.php
  app/Domain/Users/Notifications/UserForgotPassword.php
  app/Domain/Users/Notifications/UserRegistered.php
  app/Domain/Users/Notifications/UserRequestedVerification.php
  app/Domain/Users/Notifications/UserVerified.php
  resources/lang/es/components.php
  resources/lang/es/mail.php
  resources/lang/es/users.php
  resources/views/vendor/mail/html/logo.blade.php
  resources/views/vendor/mail/html/message.blade.php
  resources/views/vendor/notifications/email.blade.php
  routes/development.php
Due: test:codestyle, test:phpcpd

📝 Update SETUP.md
  .env.docker
  .env.forge
  .env.gitlab
  README.md
  SETUP.md
  database/seeds/NovaSettingsTableSeeder.php
Due: none

➕ Add "stylelint-config-recess-order"
  .stylelintrc.json
  package.json
  yarn.lock
Due: none

🚨
  resources/js/components/AuthPreRegisterForm.vue
  resources/js/components/AuthRegisterForm.vue
  resources/js/components/BaseInputCheckbox.vue
  resources/js/components/BaseInputText.vue
  resources/js/components/BaseSubmitButton.vue
  resources/js/components/TheCookieBanner.vue
  resources/js/components/TheFooter.vue
  resources/js/components/TheLoader.vue
  resources/js/pages/AuthLoginPage.vue
  resources/js/pages/AuthPasswordForceResetPage.vue
  resources/js/pages/AuthPasswordRequestPage.vue
  resources/js/pages/AuthPreRegisterPage.vue
  resources/js/pages/AuthRegisterPage.vue
  resources/js/pages/AuthVerificationPage.vue
  resources/js/pages/HomePage.vue
  resources/sass/_css-animations.scss
  resources/sass/_fonts.scss
  resources/sass/_reset.scss
  resources/sass/_variables.scss
Due: none

🔧 Require PHP extensions
  composer.json
Due: security:sensiolabs

👷‍♂️ Update jobs
  .gitlab-ci.yml
  SETUP.md
Due: none

👷‍♂️ Update jobs
  .gitlab-ci.yml
Due: none

Path conditions:
  test:codestyle: any of: app/**/*
  test:phpcpd: any of: app/**/*
  security:sensiolabs: any of: composer.json, composer.lock
