Repository binalogue/laravel-boilerplate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:composer:mr, install:yarn:mr, build:assets:mr, test:codestyle, test:phpcpd, test:phpunit, security:sensiolabs

install:composer:mr:
  stage: install
  image: edbizarro/gitlab-ci-pipeline-php:7.2
  script:
  - php -v
  - composer install --prefer-dist --no-scripts --no-progress --optimize-autoloader --ignore-platform-reqs --no-ansi --no-interaction
  - cp .env.forge .env
  - php artisan key:generate
  artifacts:
  ...

install:yarn:mr:
  stage: install
  image: edbizarro/gitlab-ci-pipeline-php:7.2
  script:
  - yarn --version
  - yarn install --pure-lockfile
  artifacts:
    name: $CI_JOB_NAME-$CI_COMMIT_REF_NAME
    paths:
    - node_modules/
    when: always
    expire_in: 1 days
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
  ...

build:assets:mr:
  stage: build
  image: edbizarro/gitlab-ci-pipeline-php:7.2
  script:
  - yarn --version
  - yarn favicon:check
  - yarn prod --progress false
  dependencies:
  - install:composer
  - install:yarn
  artifacts:
    name: $CI_JOB_NAME-$CI_COMMIT_REF_NAME
    paths:
    - public/css/
    - public/fonts/
    - public/images/
  ...

test:codestyle:
  stage: test
  image: lorisleiva/laravel-docker
  script:
  - phpcs --standard=PSR2 --extensions=php app
  dependencies: []

test:phpcpd:
  stage: test
  image: edbizarro/gitlab-ci-pipeline-php:7.2
  script:
  - test -f phpcpd.phar || curl -L https://phar.phpunit.de/phpcpd.phar -o phpcpd.phar
  - php phpcpd.phar app/ --min-lines=50
  dependencies: []
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - phpcpd.phar

test:phpunit:
  stage: test
  image: edbizarro/gitlab-ci-pipeline-php:7.2
  dependencies:
  - install:composer
  - build:assets
  script:
  - php -v
  - sudo cp /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini /usr/local/etc/php/conf.d/docker-php-ext-xdebug.bak
  ...

security:sensiolabs:
  stage: security
  image: edbizarro/gitlab-ci-pipeline-php:7.2
  script:
  - test -d security-checker || git clone https://github.com/sensiolabs/security-checker.git
  - cd security-checker
  - composer install
  - php security-checker security:check ../composer.lock
  dependencies: []
  cache:
  ...

🚨
  composer.json
  package.json
Due: security:sensiolabs

⬆️ Update yarn packages
  yarn.lock
Due: none

👷‍♂️ [skip ci] Remove unused jobs from GitLab CI
  .gitlab-ci.yml
Due: none

🎨
  .gitlab-ci.yml
Due: none

👷‍♂️ Comment unused jobs
  .gitlab-ci.yml
Due: none

🐳 Update Docker images from PHP 7.2 to 7.3
  .docker/app.apache.dockerfile
  .docker/app.nginx.dockerfile
Due: none

👷‍♂️ Update GitLab images from PHP 7.2 to 7.3
  .gitlab-ci.yml
Due: none

Update README.md
  README.md
Due: none

⚡️ Comment Laravel API route to run "php artisan optimize" command
  routes/api.php
Due: install:composer:mr, install:yarn:mr, build:assets:mr, test:phpunit

🔥 Remove Style CI
  .styleci.yml
Due: none

🐛 Fix fonts preloader
  resources/views/app.blade.php
Due: none

🔧 Update .env files
  .env.docker
  .env.forge
Due: none

🚨
  .eslintrc.js
Due: none

💡 Update README.md "Deployment" section
  README.md
Due: none

💡 Comment "Versioning" section
  README.md
Due: none

🔧 Update PHP lint scripts
  package.json
Due: none

🎨 Reorganize SASS files
  resources/sass/_css-animations.scss
  resources/sass/_reset.scss
  resources/sass/_variables.scss
  resources/sass/_vue-animations.scss
  resources/sass/app.scss
Due: none

👷‍♂️ Add GitLab CI job to trigger Laravel Forge deployment
  .gitlab-ci.yml
Due: none

🔧 Add launch.json to git
  .gitignore
  .vscode/launch.json
Due: none

🔧 Add VSCode extension "better-phpunit" settings
  .vscode/settings.json
Due: none

🙈 Update .gitignore
  .gitignore
Due: none

✅ Force PHPUnit env variables
  phpunit.xml
Due: none

🐳 Update Docker Compose image names
  docker-compose.yml
Due: none

💡 Update README.md
  README.md
Due: none

🐳 Add "bcmath" PHP extension to Docker
  .docker/app.apache.dockerfile
  .docker/app.nginx.dockerfile
Due: none

🔧 Add "git add" to the lint-staged PHP files script
  package.json
Due: none

🔧 Update VSCode settings
  .vscode/settings.json
Due: none

🐳 Update Docker environment
  .cli/alias.sh
  .cli/build.sh
  .cli/down.sh
  .cli/up.sh
  .docker/app.apache.dockerfile
  .docker/app.nginx.dockerfile
  .env.docker
  .env.forge
  README.md
  SETUP.md
  docker-compose.apache.yml
  docker-compose.yml
  package.json
  resources/js/app.js
  resources/js/helpers/app.js
  resources/js/router.js
  yarn.lock
Due: none

Adopt Laravel coding style
  app/Http/Controllers/Auth/RegisterController.php
  app/Http/Controllers/Controller.php
  app/Http/Middleware/RobotsMiddleware.php
  app/Http/Middleware/TrustProxies.php
  app/Models/User.php
  app/Providers/AuthServiceProvider.php
  app/Providers/BroadcastServiceProvider.php
  app/Providers/EventServiceProvider.php
  app/Providers/RouteServiceProvider.php
  app/Services/AppService.php
  app/helpers.php
  database/factories/UserFactory.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/migrations/2014_10_12_100000_create_password_resets_table.php
  tests/Feature/ExampleTest.php
  tests/Unit/ExampleTest.php
Due: install:composer:mr, install:yarn:mr, build:assets:mr, test:codestyle, test:phpcpd, test:phpunit

Shift core files
  app/Http/Controllers/Auth/ConfirmPasswordController.php
  app/Http/Controllers/Auth/ForgotPasswordController.php
  app/Http/Controllers/Auth/ResetPasswordController.php
  app/Http/Kernel.php
  resources/lang/en/passwords.php
  resources/lang/en/validation.php
Due: install:composer:mr, install:yarn:mr, build:assets:mr, test:codestyle, test:phpcpd, test:phpunit

Shift Laravel dependencies
  composer.json
Due: security:sensiolabs

Shift config files
  config/filesystems.php
  config/logging.php
  config/mail.php
  config/queue.php
Due: install:composer:mr, install:yarn:mr, build:assets:mr, test:phpunit

Default config files
  config/auth.php
  config/database.php
  config/services.php
Due: install:composer:mr, install:yarn:mr, build:assets:mr, test:phpunit

⏪ Revert config files
  config/auth.php
  config/services.php
Due: install:composer:mr, install:yarn:mr, build:assets:mr, test:phpunit

🎨
  composer.json
Due: security:sensiolabs

⬆️ Composer update
  composer.json
  composer.lock
Due: security:sensiolabs

➕ Add "laravel/telescope"
  composer.json
  composer.lock
Due: security:sensiolabs

🔧 Install Laravel Telescope
  .env.docker
  .env.forge
  app/Console/Kernel.php
  app/Providers/AppServiceProvider.php
  app/Providers/TelescopeServiceProvider.php
  composer.json
  composer.lock
  config/telescope.php
  database/migrations/2018_08_08_100000_create_telescope_entries_table.php
  public/vendor/telescope/app-dark.css
  public/vendor/telescope/app.css
  public/vendor/telescope/app.js
  public/vendor/telescope/favicon.ico
  public/vendor/telescope/mix-manifest.json
Due: install:composer:mr, install:yarn:mr, build:assets:mr, test:codestyle, test:phpcpd, test:phpunit, security:sensiolabs

🔧 Setup Laravel Ignition
  .env.docker
  .env.forge
  .gitignore
  composer.json
  composer.lock
  config/flare.php
  config/ignition.php
  config/logging.php
  docker-compose.apache.yml
  docker-compose.yml
Due: install:composer:mr, install:yarn:mr, build:assets:mr, test:phpunit, security:sensiolabs

🔒 Remove Webhook URL
  SETUP.md
Due: none

Path conditions:
  install:composer:mr: any of: app/**/*, bootstrap/**/*, config/**/*, database/**/*, routes/**/*, tests/**/*
  install:yarn:mr: any of: app/**/*, bootstrap/**/*, config/**/*, database/**/*, routes/**/*, tests/**/*
  build:assets:mr: any of: app/**/*, bootstrap/**/*, config/**/*, database/**/*, routes/**/*, tests/**/*
  test:codestyle: any of: app/**/*
  test:phpcpd: any of: app/**/*
  test:phpunit: any of: app/**/*, bootstrap/**/*, config/**/*, database/**/*, routes/**/*, tests/**/*
  security:sensiolabs: any of: composer.json, composer.lock
